global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000
    timeout client 50000
    timeout server 50000
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

frontend http-in
    bind *:80

    acl is_dashboard path_beg /dashboard
    use_backend dashboard_backend if is_dashboard

    acl is_api path_beg /api
    use_backend api_backend if is_api

    acl is_commercial path_beg /commercial
    use_backend commercial_backend if is_commercial

    default_backend api_backend

backend dashboard_backend
    balance roundrobin
    {% for host in groups['dashboard'] %}
    server {{ host }} {{ host }}:3000 check
    {% endfor %}

backend api_backend
    balance roundrobin
    {% for host in groups['agents'] %}
    server {{ host }} {{ host }}:8000 check
    {% endfor %}

backend commercial_backend
    balance roundrobin
    {% for host in groups['agents'] %}
    server {{ host }} {{ host }}:8010 check
    {% endfor %}

